*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
   
    font-weight: 600;
    padding: 10px 10px 9px 10px;
    border: none;
    outline: none;
    border-radius: 1000px;
    color: #ffff;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    cursor: pointer;
}

.btn i{
    width: 1.2rem;
    height: 1.2rem;
}

.button-section{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn2{
    display: flex;
    gap: 8px;
   font-weight: 600;
   align-items: center;
    padding: 12px 20px;
    border: none;
    border-radius: 1000px;
    color: #ffff;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F); 
    cursor: pointer;
}

.btn2 img {
    width: 20px;
    height: 20px;
}

.btn3{
    display: flex;
    gap: 8px;
    font-weight: 600;
     padding: 12px 20px;
     background: none;
     border: 1px solid #00FF88;
     border-radius: 1000px;
     color: #00FF88;
     cursor: pointer;
}

.btn3 img{
    width: 20px;
    height: 15px;
}

header{
    background-color: #1A0B2E;
    padding: 24px 0;
}

#navber{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.logo h1{
    color: #ffff;
}

.gradient-text{
    color: transparent;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
}

.menu ul{
    display: flex;
    gap:32px ;
}

.menu ul li{
    color: #ffff;
    cursor: pointer;
}

.icone{
    display: none;

}

.banner{
    background-image: url(../assets/hero-bg.png);
    width: 1005;
    max-width: 1600px;
    height: auto;
    border-radius: 1000px;
    padding-bottom: 100px;
    position: relative;   
    margin: 0 auto; 
}




.banner-container{
    max-width: 550px;
    margin: 0px auto;
    padding-top:110px ;
    padding-left: 20px;
    text-align: center;

}

.banner-container .new{
    width: 75px;
    height: 37px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    color: #1A0B2E;
    background-color: #00FF88;
    position: absolute;
    top: 123px;
    right: 633px;
    z-index: 10;
    animation: borochoto  2s ease-in-out infinite;
}

.images{
    position: relative;
}

.back-imag{
    display: block;
    padding-left: 100px;
}

.front-imag{
    position: absolute;
   top: 80px;
   right: 215px;
}

.content h2{
    font-size: 3.6rem;
    font-weight: 800;
    color: #ffff;
    margin-top: 40px;

}

.content p{
    color: #ffff;
    opacity: 80%;
    padding-bottom: 24px;
}













@keyframes borochoto {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}







































@media screen and (max-width:576px) {
    #navber{
        padding:
            16px 20px;
            box-sizing: border-box;
            width: 100%;
        }
          .menu , .btn{
        display: none;
    }
    .icone{
        display: block;
        cursor: pointer;
    }
    



    .banner{
        width: 100%;
         max-width: 567px;
          height: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;     
}
    .banner-container{
        width: 100%;
    max-width: 400px;
    height: 386px;
    margin: 0px auto;
    padding-top:150px;
    padding-right: 16px;

}
.images{
    padding-top: 29px;
}

    .back-imag{
    display: block;
    width: 200px;
    height: 200px;
}
    .front-imag{
        width: 50px;
        height: auto;        
        left: 173px;
        top: 91px;
    }

        .banner-container .new{
    width: 67px;
    height: 32px;
    top: 190px;
    right: 165px;
}



    }
  