*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    font-weight: 600;
    padding: 12px 16px 10px 16px;
    border: none;
    border-radius: 1000px;
}

.btn i{
    width: 1.2rem;
    height: 1.2rem;
}

header{
    background-color: #1A0B2E;
    padding: 24px 0;
}

#navber{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.logo h1{
    color: #ffff;
}

.gradient-text{
    color: transparent;
    background: linear-gradient(to bottom, #9100F8, #FB09B4, #F7E93F);
    -webkit-background-clip: text;
    background-clip: text;
}

.menu ul{
    display: flex;
    gap:32px ;
}

.menu ul li{
    color: #ffff;
}