*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}



.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.btn{
   
    font-weight: 600;
    padding: 10px 10px 9px 10px;
    border: none;
    outline: none;
    border-radius: 1000px;
    color: #ffff;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    cursor: pointer;
}

.btn i{
    width: 1.2rem;
    height: 1.2rem;
}

.button-section{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.btn2{
    display: flex;
    gap: 8px;
   font-weight: 600;
   align-items: center;
    padding: 12px 20px;
    border: none;
    border-radius: 1000px;
    color: #ffff;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F); 
    cursor: pointer;
}

.btn2 img {
    width: 20px;
    height: 20px;
}

.btn3{
    display: flex;
    gap: 8px;
    font-weight: 600;
     padding: 12px 20px;
     background: none;
     border: 1px solid #00FF88;
     border-radius: 1000px;
     color: #00FF88;
     cursor: pointer;
}

.btn3 img{
    width: 20px;
    height: 15px;
}

header{
    background-color: #1A0B2E;
    padding: 24px 0;
}

#navber{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

}

.logo h1, .footer-logo {
    color: #ffff;
}

.gradient-text{
    color: transparent;
    background: linear-gradient(to bottom left, #9100F8, #FB09B4, #F7E93F);
    background-clip: text;
}

.menu ul{
    display: flex;
    gap:32px ;
}

.menu ul li{
    color: #ffff;
    cursor: pointer;
}

.icone{
    display: none;

}

.banner{
    background-image: url(../assets/hero-bg.png);
    width: 1005;
    max-width: 1600px;
    height: auto;
    border-radius: 1000px;
    padding-bottom: 100px;
    position: relative;   
    margin: 0 auto; 
}




.banner-container{
    max-width: 550px;
    margin: 0px auto;
    padding-top:110px ;
    padding-left: 20px;
    text-align: center;

}

.banner-container .new{
    width: 75px;
    height: 37px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    color: #1A0B2E;
    background-color: #00FF88;
    position: absolute;
    top: 123px;
    right: 633px;
    z-index: 10;
    animation: borochoto  2s ease-in-out infinite;
}

.images{
    position: relative;
}

.back-imag{
    display: block;
    padding-left: 100px;
}

.front-imag{
    position: absolute;
   top: 80px;
   right: 215px;
}

.content h2{
    font-size: 3.6rem;
    font-weight: 800;
    color: #ffff;
    margin-top: 40px;

}

.content p{
    color: #ffff;
    opacity: 80%;
    padding-bottom: 24px;
}


/* banner styling end  */

#about{
    background-color: #1A0B2E;
    padding: 40px 200px 120px;
}

.about-content{
    text-align: center;
}

.about-content h3{
    font-size: 3rem;
    font-weight: 700;
    color: #ffff;
}

.about-content p{
    line-height: 30px;
    font-weight: 300;
    color: #ffff;
    opacity: 80%;
    margin-bottom: 80px;
}

.about-feedback{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 72px;
}

.feedback-cerd{
    width: 240px;
    height: 95px;
    text-align: center;
}

.feedback-cerd h2{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
}

.feedback-cerd p{
    line-height: 20px;
    color: #ffff;
    opacity: 80%;
}

/* about style end  */

#featurs{
    background-color: #230E3D;
    padding: 120px 200px;
}

#featurs .heading , .video-heading , .host-heading{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #ffff;
    margin-bottom: 40px;
}
.feature-cerd{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);

    grid-template-areas: 
    "headphon mobile mobile"
    "headphon location location"
    "flush     flush    book"

}

.headphon { grid-area: headphon; }
.mobile { grid-area: mobile; }
.location { grid-area: location; }
.flush { grid-area: flush; }
.book { grid-area: book ; }

.cerd{
    padding: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
}

.cerd img{
    width: 40px;
    height: 40px;
}

.cerd h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffff;
    margin: 16px 0;
}

.cerd p{
    color: #ffff;
    opacity: 60%;
    line-height: 24px;
}


/* fetures style end  */

#video-section{
    background-color: #1A0B2E;
    padding: 120px 0;
}

.video-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 120px;
}

.video-cerd{
    max-width: 380px;
    border-radius: 24px;
    overflow: hidden;
}

.video{
    position: relative;
    /* border-top-right-radius:24px ;
    border-top-left-radius:24px ; */
}

.play-btn{
    position: absolute;
    width: 72px;
    height: 72px;
    background: linear-gradient(230deg,  #9100F8 , #FB09B4 , #F7E93F  );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(255, 0, 204, 0.4);
    z-index: 2;
    top: 72px;
    left: 155px;
}

.play-icon{
    /* position: absolute; */
    color: white;
  font-size: 40px;
  margin-left: 5px;
}

.video-content{
    padding: 24px;
    background-color: #250D44;
    /* border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px; */
}

.video-content h4{
    color: #ffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.video-content p{
    line-height: 24px;
    color: #ffff;
    opacity: 60%;
    margin-bottom: 12px;
}


.video-content span{
    line-height: 24px;
    font-weight: 600;
    color: #00FF88;
    align-items: center;
}

.video-content span img{
    width: 20px;
    height: 20px;
}

.host-container{
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 1200px;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
    margin: 0 auto;
}

.host-container h4{
    font-size: 2rem;
    font-weight: bold;
    color: #ffff;
}

.host-container p{
    line-height: 24px;
    color: #ffff;
    opacity: 60%;
    margin: 16px 0;
}

.host-icones{
    display: flex;
    gap: 8px;
}

.host-icones .icone-png{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
}

#footer-bg{
    background-image: url(../assets/footer-bg.png);
    padding: 100px 120px 120px;
}

.footer-logo{
    font-size: 2.4rem;
    text-align: center;
}

.footer-icone{
    width: 100%;
    max-width: 544px;
    margin: 32px auto;
    gap: 20px;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.itame{
    display: flex;
    align-items: center;
    gap: 8px;
}

.itame span{
    
    width: 120px;
    height: 20px;
    font-weight: 500;
    color: #ffff;
    opacity: 60%;

}

.sub-text {
    text-align: center;
}

.sub-text p{
    line-height: 24px;
    color: #FAFAFA;
    opacity: 60%;
}

/* animition add rileted code  */

@keyframes borochoto {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1); 
  }
  100% {
    transform: scale(1); 
  }
}

/* responciv rileted code  */


@media screen and (max-width:576px) {


    #navber{
        padding:
            16px 20px;
            box-sizing: border-box;
            width: 100%;
        }
          .menu , .btn{
        display: none;
    }
    .icone{
        display: block;
        cursor: pointer;
    }

    header {
    max-width: 576px;
}
    
  .banner{
        width: 100%;
         max-width: 567px;
          height: auto;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;     
}
    .banner-container{
        width: 100%;
    max-width: 400px;
    height: 386px;
    margin: 0px auto;
    padding-top:150px;
    padding-right: 16px;

}
.images{
    padding-top: 29px;
}

    .back-imag{
    display: block;
    width: 200px;
    height: 200px;
}
    .front-imag{
        width: 50px;
        height: auto;        
        left: 173px;
        top: 91px;
    }

        .banner-container .new{
    width: 67px;
    height: 32px;
    top: 178px;
    right: 166px;

}

/* banner responcive end  */

#about{
    background-color: #1A0B2E;
    padding: 40px 20px;
}
.about-feedback{
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.feedback-cerd{
    width: 180px;
    height: 85px;
}
/* about responciv done   */

/* features responciv start  */

 #featurs{
    width: 100%;
    max-width: 536px;
    padding: 40px 20px;
}

#featurs .heading ,.video-heading {
    width: 100%;
    margin-bottom: 16px;
    font-size: 2rem;
}

.feature-cerd{
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(1,1fr);

    grid-template-areas: 
    "headphon"
    "mobile "
    "location "
    "flush "
    "book "
}

.cerd{
    padding: 14px;
    border-radius: 24px;
}
/* feature responcive done  */

.video-container{
    grid-template-columns: repeat(1,1fr);
    place-items: center;
    gap: 16px;
    width: 100%;
    max-width: 576px;
    margin: 0 auto 120px;
}

/* video responciv end  */

.host-container{
    display: block;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: #250D44;
    border-radius: 40px;
    padding: 40px;
    margin: 0 auto;
}

.host-icones{
    width: 100%;
    max-width: 184px;
    display: flex;
    gap: 8px;
    margin: 0 auto;
}

/* host section responciv end  */

#footer-bg{
    
    padding: 40px 20px;
    width: 100%;
    max-width: 536px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
}

.footer-icone{
    width: 100%;
    max-width: 255px;
    margin: 24px 111px;
    gap: 20px;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
}




    }
  